@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

.react-tabs__tab--selected {
    border-bottom: 3px solid red !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}